---
permalink: /404.html
layout: default
title: Error 404 - Page Does Not Exist
description: We are sorry but you have reached a page that does not exist!
exclude: true
---

<div class="container">
  <h1 class="pad-top">Error - 404! Looks like the page you are looking for does not exist!</h1>
  <p >Below is a list of pages that <em>do exist</em> maybe one of these is what you are looking for? </p>
  <ul class="sitemap">
       {% for page in site.pages %}{% if page.exclude != true %}<li style="margin-bottom:20px;"><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a> <br />{{ page.description }}<br /></li>
       {% endif %}{%endfor%}
   </ul>
 </div>