<footer class="site-footer">
<div class="footer">
        <div class="container flex-footer">      
                <div class="f-about f-item">
                   <h2>Strapless CSS</h2>
                  <p>A simple CSS starting point.</p>
                  <p>No complex framework, no Javascript or Jquery.</p>
                  <p>Uses Flexbox for sticky footer and 2 and 3 column layouts.</p>
                 </div>
                                 
               <div class="f-links f-item">
               <h2>Links</h2>
              <ul class="footer-links">
               <li><a href="{{site.baseurl}}/elements/">Elements</a></li>
               <li><a href="{{site.baseurl}}/notes/">Notes</a></li>             
               <li><a href="{{site.baseurl}}/view-css/">View the CSS</a></li>
               <li><a href="{{site.baseurl}}/site-map/">Site Map</a></li>
               <li><a href="{{site.baseurl}}/license/">MIT License</a></li>
               <li><a href="https://github.com/rdyar/strapless/tree/gh-pages">Git Hub</a></li>
              </ul>
               </div>
                <div class="f-contact f-item">
                    <!-- Contact Us -->
                    <h2>Contact Us</h2> 
                    <address class="footer-address">
                        Strapless CSS<br />
                        123 Main Street <br />
                        Anytown, CA 92115 <br />
                        Hours: Monday - Friday 11am-11:30am<br />
                        Phone: (111) 222-4455<br />
                    </address>
          
                </div>
           
  </div> 
</div>
<!-- footer copyright -->
<div class="copyright">
      <div class="container">        
        <p class="copyright-text">
           {{ site.time | date: '%Y' }} {{ site.name }} 
        </p>
      </div> 
</div>
<!-- end footer copyright --> 
</footer>
</body>
</html>