<!DOCTYPE html>
 <html lang="en"> 
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{page.description | xml_escape}}{% else %}{{site.description}}{% endif %}">
    <link rel="canonical" href="{{ page.url | absolute_url| replace:'index.html',''}}" />{% endif %}
    <link rel="shortcut icon" href="{{/assets/images/favicon.ico | absolute_url}}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{/assets/css/site.css | absolute_url}}">   
</head>
<body class="site">
    <header class="site-header">
    <nav>
    <div class="sticky-nav">
    <div class="container-nav">
       <div class="nav-container">
         <div class="navbar-brand"> <a href="{{site.baseurl}}/">  {% if site.logo_url %}<img src="{{site.baseurl}}{{ site.logo_url }}" alt="{{site.name}}">{% elsif site.logo_text %}<h1 class="logo-text">{{site.logo_text}}</h1>{% endif %}</a> </div>
         <div class="navbar-nav nav-mobile">
          {% for link in site.mobile_nav %}
            <a class="nav-item nav-link btn btn-nav" href="{{site.baseurl}}{{ link.url }}">{{ link.title }}</a>
          {% endfor %}          
         </div>
         <div class="navbar-nav nav-main">
           <a class="nav-item nav-link{% if page.active %} active{% endif %}" href="{{site.baseurl}}/">Home</a>
          {% for link in site.main_nav %}
           <a href="{{ site.baseurl }}{{ link.url }}" class="nav-item nav-link{% if page.url == link.url %} active{% endif %}">{{ link.title }}</a>
          {% endfor %}          
         </div>
      </div>  
      </div>
      </div>
</nav>
</header>
