/*custom styles*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.lead {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4;
}
.highlite{
    background-color: #fffea6;
    min-height: 25px;
    text-align: center;
    margin:1rem auto;
    max-width: 600px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $alt-background-color;
    border: $alt-background-border;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.well-75percent{
    width:75%;
    margin:0 auto;
}
.well code{
    background: #E2E2E2;
}
.gray-box {
    padding: 19px;
    background-color: #f9f9f9;
    border: #EAEAEA;
}
.gray-box code{
    background: #EAEAEA;
}
.row-container .well {
    margin-bottom:0;
}
.lead-crumb{
     font-size: 1.1rem;
     color:#676767;
    }
.servicebox {
    border:$alt-background-border;
    border-radius: 3px;
    padding: 20px;
    background-color: $alt-background-color;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
    width: 340px;
}
.responsive-video {
    height: 0;
    padding-top: 1px;
    position: relative;
    margin-bottom: -3px;
    padding-bottom: 56.25%;
}
.responsive-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.blockquote-danger {
    background-color: #FBE8E8;
    border-color: #d9534f;
}
.blockquote-info {
    background-color: #EBF6FF;
    border-color: #56A8EA;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
    background: #F9F9F9;
    margin-top: 1rem;
}
blockquote footer {
    display: block;
    font-size: 80%;
}
.photo-caption{
        text-align: center;
    padding-top: 10px;
    font-style: italic;
}
.headline {
    font-size: 38px;
    font-weight:bold;
    color:#343434;
}
.box-style-1 {
    text-align: center;
    padding: 20px;
    margin: 20px 4px;
   background-color: #fff!important;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
   box-shadow: 0 1px 2px rgba(0,0,0,.1);
   border: none!important;
}
/*the bit below is to make linking to a headings id scroll to the correct position based on the fixed nav at the top
it is in a media query cause on small screens the nav is not fixed at the top*/
@media (min-width: 768px){
    *[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}
}

