/*footer css*/
.flex-footer{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
@media (max-width: 992px){
     .flex-footer{
    display:block;
    }
}
.f-item{
    padding:12px;
}
.f-about{
    -webkit-box-flex:2;
    -webkit-flex:2 1 400px;
        -ms-flex:2 1 400px;
            flex:2 1 400px;
    color:#aeaeae;
}
.f-links{
    -webkit-box-flex:2;
    -webkit-flex:2 1 110px;
        -ms-flex:2 1 110px;
            flex:2 1 110px;
}
.footer-links{
    padding-left:2px;
    list-style-type: none;
}
.footer-links >li{
        margin-bottom: 10px;
}
.f-contact{
     -webkit-box-flex:1;
     -webkit-flex:1 1 260px;
         -ms-flex:1 1 260px;
             flex:1 1 260px;
}
.footer {
    padding: 20px 0;
    background: #3f3f3f;
}
.copyright {
    font-size: 12px;
    background: #2b2b2b;
    border-top: solid 1px #494949;
}
.copyright-text {
    color: #aeaeae;
    margin: 0;
}
.footer-address {
    color: #aeaeae;
}
.footer a {
    color: #d8d8d8;
}
.footer h2 {
    color: #eee;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom:1px solid gray;
    padding-bottom:8px;
}