/*helpers*/
.text-center {
    text-align: center;
}
.pad-top{
    padding-top:2rem;
}
.pad-bottom{
	padding-bottom: 25px;
}
.pull-right {
    float: right!important;
}
.hr-half{
    margin-right:33%;
 } 
.no-border{
    border-bottom:none;
}
.bold {
    font-weight:bold;
}
.max800{
	max-width:800px;
	margin: 0 auto;
}
.img-shadow{
	box-shadow: 0 0 6px rgba(121, 121, 121, 0.43);
}
.small {
    font-size: 85%;
}
.margin-bottom{
    margin-bottom:10px;
}