/*nav styles*/
.nav-main{
        display:none;
    }
.container-nav{
    margin-right: auto;
    margin-left: auto;
 }
.sticky-nav{
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    position: fixed;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    background-color: white;
}
.nav-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding: 20px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.navbar-nav{
    padding-top:12px;
}
.navbar-nav > a{
    color: #555;
    font-weight: bold;
    text-decoration: none;
    border-bottom:none;
}
.navbar-nav > a:hover, .navbar-nav > a:active {
    color: $nav-desktop-color;
    text-decoration: none;
}
.nav-item{
    padding:0 14px;
    
}
.navbar-nav > a.btn-nav {
    color: #fff;
    background-color: $nav-mobile-btn-color;
    // border-color: #3d78d8;
    background-image: none;
     min-width: 60px;
     padding: 0.375rem .75rem;
}
.navbar-nav > a.btn-nav:hover{
    color: #fff;
    background-color: $nav-mobile-btn-color;
}
@media (min-width: 768px){
   .container-nav {
    width: 750px;
   }
   .navbar-nav > a{
    font-size: 1.1rem; 
   }
}
@media (min-width: 600px){
   .nav-mobile{
    display:none;
   }
   .nav-main{
        display:block;
    }
}
@media (min-width: 992px){
    .container-nav {
    width: 980px;
}}
@media (min-width: 1200px){
    .container-nav {
    width: 1170px;
}}
@media (max-width: 768px){
    .navbar-brand{
        padding: 10px 0;
        margin: auto;
    }
    .navbar-nav{
        margin: auto;
        padding-top: 16px;
        padding-bottom:10px;
    }
    .sticky-nav{
         position: relative;
    }
    body{padding-top:0}
    .nav-container{padding:8px 0;}
   
}
@media (max-width: 375px){
    .nav-item {
    padding: 0 6px;
    }
}
@media (max-width: 425px){
    .gallery-link{
        display:none !important;
    }
}
a.active  {
    color: $nav-desktop-color;}