$main_font_family: "open sans", arial, sans serif;

$main_font-size: 15px;
$mobile-font-size: 16px;

$body-font-color: #373a3c;

$nav-desktop-color: #d46c5b;
$nav-mobile-btn-color:#d46c5b;

$heading-font-family: "open sans", arial, sans serif;
$heading-default-color: #292929;
$heading-h1-color: #505050;
$heading-h2-color: #d46c5b;
$heading-h3-color: #404040;

$link-color: #428bca;
$link-border-bottom: 1px dotted #909090;
$link-border-bottom-hover:none;
$link-text-decoration: none;
$link-text-decoration-hover: none;

$alt-background-color:#f9f9f9;
$alt-background-border:1px solid #e8e8e8;

$btn-primary-color: #d46c5b;
$btn-primary-color-hover: #c06253;
